@model IEnumerable<GestorDeCandidatos.Models.CandidateExperience>

@{
    ViewData["Title"] = "Index";
}

<h1>Professional Experiences</h1>
@if(ViewBag.Teste != null)
{
   <input type="hidden" @ViewBag.Teste />
}
<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Teste" class="btn btn btn-success">Add</a>
</p>

<input type="hidden" id="@ViewBag.Teste" value=""/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCandidateExperience">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCandidateExperience">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCandidateExperience" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
<a asp-controller="Candidates" asp-action="Index"    class="btn btn-secondary">Back to List</a>
</div>